fastapi
uvicorn
SQLAlchemy
psycopg2-binary
PyJWT
python-decouple
passlib
bcrypt
python-jose
cryptography
python-multipart
pydantic-settings
SQLAlchemy-Utils
jose
pydantic
sentry-sdk[fastapi]
pydantic[email]
fastapi-mail
